.header{
  background-color: rgba(0, 0, 0, 1);
  /* height: 7 0px; */
  padding-bottom: 5px;
}
.logo{
  padding: 18px;
  height: 100%;
  /* width: 180px; */

  /* background-color: yellow; */
}
.logo-img{
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
.header-button{
  font-family: 'Hind', sans-serif;
  color: white;
  font-size: 11px;
  letter-spacing: 3px;


}
.buttons{
  padding: 16px 0px 0px 20px;
}
.add-listing{
  padding: 9px;
  width: 153px;
  height: 36px;
  border-color: #fc0!important;
  color: white;
  font-size: 12px;
  padding: 7px 14px 3px 20px;
  background-color: rgba(0, 0, 0, 1);
  font-family: 'Hind', sans-serif;
  letter-spacing: 3px;

}
.add-listing-button{
    padding: 10px 0px 0px 20px;
}
.plus-icon{
 font-weight: 600;
}
.user-login-icon{
  color: grey;
  font-size: 20px;
  border: 0.5px solid white;
  /* padding: 10px; */
  /* margin-left: 4px;
  margin-top: 1px; */
  border-radius: 3px;
  padding: 7px;


}
.login{
  align-items: flex-end!important;
}

.user-login{
  padding: 0px 0px 0px 4px!important;
}
.social{
 padding-left:100px;
 padding-right:100px;


}
.login-button{
  font-size: 16px;
  font-weight: bold;
}
.register-button{
  font-size: 16px;
  font-weight: bold;
}
.input-style{
  width: 100%!important;
}
.ant-input{
  height: 35px;
}
.input-box{
  margin: 5px;
}
.padd-box{
  padding: 10px;
}
.sub-btn{
  background-color: rgb(255, 204, 0);
}
.fb-icon{
  font-size: 20px;
 color: yellow;
}
.modal-dialog{
  width: 27%;
}
.menu-icon{
  color: white!important;
  font-size: 26px;
  text-align: left!important;

}
@media (max-width: 767.98px) {

  .ant-menu{
    text-align: center!important;
      width: 100%!important;
      /* background-color: rgba(0, 0, 0, 1)!important; */


    }
    .ant-menu-light{
      width: 100%!important;
      /* background-color: rgba(0, 0, 0, 1)!important; */

    }
     .ant-menu-root{
      width: 100%!important;
      /* background-color: rgba(0, 0, 0, 1)!important; */

     }

      .ant-menu-inline{
  width: 100%!important;
  /* background-color: rgba(0, 0, 0, 1)!important; */

  }
}
.ant-menu{
  text-align: center!important;
    /* width: 30%!important; */
    /* background-color: rgba(0, 0, 0, 1)!important; */


  }
  .ant-menu-light{
    /* width: 30%!important; */
    /* background-color: rgba(0, 0, 0, 1)!important; */

  }
   .ant-menu-root{
    /* width: 30%!important; */
    /* background-color: rgba(0, 0, 0, 1)!important; */

   }

    .ant-menu-inline{
/* width: 30%!important; */
/* background-color: rgba(0, 0, 0, 1)!important; */

}
.col{
  padding-left: 0px;
  padding-right: 0px;
}
/* .navi{
  color: white;
} */
.ant-menu-vertical{
margin:0px!important;
padding: 0px!important;
  }
   .ant-menu-submenu{
margin:0px!important;
padding: 0px!important;
     }
      .ant-menu-submenu-title{
margin:0px!important;
padding: 0px!important;
      }
.ant-menu-horizontal{
      line-height: 28px!important;
}
